In [1]:
import pandas as pd
import numpy as np
# import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
cd D:

D:\

In [4]:
cd OneDrive/Lammps/nanoglass/20181022_700K_NPTb+700-300K_NPTb+300K_NVTb_xTen_E-2Aps/

D:\OneDrive\Lammps\nanoglass\20181022_700K_NPTb+700-300K_NPTb+300K_NVTb_xTen_E-2Aps

In [5]:
cd data_analyses/microstructure/cluster/

D:\OneDrive\Lammps\nanoglass\20181022_700K_NPTb+700-300K_NPTb+300K_NVTb_xTen_E-2Aps\data_analyses\microstructure\cluster

In [6]:
temp = 700
step =1000

In [8]:
file_name = 'voronoi_%iK_%i.data'%(temp,step)
csv_name = file_name[:-5] +'.csv'

In [9]:
origin_data = pd.DataFrame(pd.read_csv(csv_name, sep='\s+'))

In [10]:
origin_data['VoronoiIndices'] = '<'+origin_data['VoronoiIndex3'].map(str) +' '+origin_data['VoronoiIndex4'].map(str) +' '+origin_data['VoronoiIndex5'].map(str) +' '+origin_data['VoronoiIndex6'].map(str)+'>' 
data = origin_data.drop(['VoronoiIndex3','VoronoiIndex4','VoronoiIndex5','VoronoiIndex6'],axis='columns')

In [11]:
y_lower = (data.y.max()+data.y.min())*0.5 - (data.y.max()-data.y.min())*0.1

y_upper = (data.y.max()+data.y.min())*0.5 + (data.y.max()-data.y.min())*0.1

data_y = data.loc[(data.y >= y_lower) & (data.y <= y_upper)].sort_values('y')[['type','x','AtomicVolume']]

        type         x  AtomicVolume
113139     1  220.0380     15.372137
57929      3   83.5649     18.677274
4279       1  -32.8007     15.323326
141206     1  276.4730     15.591452
95013      1  166.8180     13.926377

In [ ]:
data_y_O = data_y.loc[(data_y.type == 2)&(data_y.x >= 100) &(data_y.x <= 150)].sort_values('x')

In [ ]:
oxide_thick = data_y_O.x.max()-data_y_O.x.min()

In [ ]:
f_name = file_name[8:12]+'_oxide_thick.txt'

with open(f_name, 'a+') as f:
    f.write(str(step)+'\t'+'%.5f'%oxide_thick +'test \n')